* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*box-shadow: 0 0 1px 0 red;*/
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

container {
    position: relative;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    height: 100%;
    width: 100%;
}

navigation {
    flex-shrink: 0;
    display: flex;
    z-index: 1;
    align-items: center;
    background-color: #fff;
}

navigation icon {
    width: 40px;
    background-color: transparent;
    margin: 0 10px 0 0;
}

.group { 
    display: flex;
    position: relative;
    min-width: 110px;
    margin: 10px;
    align-items: center;
    height: 40px;
    flex-grow: 1;
    box-shadow: none;
    border-radius: 10px;
    background: #ebebebc4;
}

.group[search] input:placeholder-shown ~ label {
    transform: none; 
    color: #9c9a9a;
    padding: 0 55px;
}

div[search] i {
    right: auto;
    top: 12px;
    color: #9c9a9a;
    padding: 0 10px;
}

input {
    color: #9c9a9a;
    padding: 0 25px;
    font-size: 15px;
    padding: 0 10px;
    display: flex;
    border: none;
    width: 100%;
    height: 100%;
    background: none;
}

label {
    display: flex;
    color: transparent;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
    height: 50%;
    padding: 0 10px;
    transform: translateX(200%);
    transform-origin: left;
    transition: .25s ease all;
}

adunit {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

unitWrap {
    position: absolute;
    bottom: -20vh;
    width: 100%;
    /*height: 65vh;*/
    min-height: 400px;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
    background-color: white;
    padding: 0 5px;
}

unitWrap {
    transition: all .35s ease 0s;
}

.active {
    position: absolute;
    bottom: 0;
}

box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.125s;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

}

/*box:hover {
    background-color: hsla(209, 19%, 31%, 0.92);
    box-shadow: 0 5px 30px rgba(6, 8, 10, 0.22);
}*/

/*box:hover wrapimage {
    transform: scale(1.05);
    filter: brightness(1.17);
}*/

/*box:active wrapimage {
    transform: scale(1.05);
}*/

unit {
    display: flex;
    margin: 5px;
    flex-shrink: 0;
    /*height: 30vh;*/
    min-height: 240px;
    min-width: 35vw;
    width: 24vw;
    flex-shrink: 0;
    overflow: hidden;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

wrapImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}

imageBox {
    position: relative;
    display: block;
    overflow: hidden;
    height: 85%;
    width: 100%;
    border-radius: 5px;
}

textteg {
    display: flex;
    /*flex-direction: column;*/
    padding: 5px 10px;
}

textBox {
  padding: 0 10px 5px 10px;
}

titleBox {
    display: flex;
}

titleBox p, priceBox p {
    white-space: nowrap; 
    font-weight: 600;
    color: #ffffffd9;
}

textBox p, priceBox p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}


ratingBox, textBox, priceBox {
    display: flex;
    position: relative;
}

 priceBox {
    justify-content: flex-end;
    width: 100%;
}

/*ratingBox {
    justify-content: center;
}*/

/*ratingBox .bar {
    transform: none;
    background: #ffffff14;
}*/

box p {
    font-size: 10px;
    color: #222125;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

scroller {
        overflow-x: auto;
    overflow-y: hidden;
}

.column {
    display: flex;
    flex: 1;
    /*overflow: hidden;*/
    border-radius: 10px;
}

.down span::after {
    transform: rotate(-45deg);
    top: 50%;
}

#section {
   padding-top: 20px;
}

section span {
    position: absolute;
    top: -17px;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border-radius: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
}

section span::after {
    position: absolute;
    top: 62%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #8e8d8d;
    border-bottom: 1px solid #8e8d8d;
    -webkit-transform: rotate(-45deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}

div[hide] {
    display: flex;
    z-index: 3;
    position: absolute;
    /*height: 100%;*/
    height: 30vh; 
    /*min-height: 235px;*/
    min-width: 35vw;
    width: 24vw;
    /*transition: .35s cubic-bezier(0.165, 0.840, 0.440, 1.000);*/
    animation: scale_up .525s .725s  forwards;
}

div[hide] unit {
  animation: unitScale_up .225s  forwards;
    margin: 0;
    opacity: 0;
  
}

div[hide] p {
 opacity: 0;
  font-size: 12px;
  /*-webkit-line-clamp: unset;*/
  animation: unitTextShow .525s .425s  forwards;
}

@keyframes unitTextShow {
  to{opacity: 1;}
}

@keyframes unitScale_up {
  to{
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 1;
  }
}

@keyframes scale_up {
  to{
    transform: none; 
    width: 100%;
    height: 100%;
  }
}

.full {
    height: unset;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
    border-radius: 0px;    
}

div[hide] imagebox, div[hide] box {
    border-radius: 0px;
}

/*.full p {
  opacity: 0;
  font-size: 12px;
  -webkit-line-clamp: unset;
  animation: blowUp .625s .325s forwards;
}*/

div[hide] wrapIcon, div[hide] wrapTopIcon {
    display: flex;
    opacity: 0;
    animation: unitTextShow .525s .325s  forwards;
    /*animation: blowUp .525s .325s forwards;*/
}

/*@keyframes blowUp {

 to{
    opacity: 1;
  }
}*/

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide:first-child {
  display: block;
}

/*.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}*/

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  display: none;
}

/*a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}*/

wrapTopIcon {
    align-items: center;
    display: none;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

wrapIcon {
    align-items: center;
    display: none;
    padding: 10px;
}

icon[right] {
    position: absolute;
    right: 20px;
}
.back i {
    left: 17px;
    position: absolute;
}

 icon {
    position: relative;
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb87;
    border-radius: 50%;
    height: 50px;
    margin-left: 10px;
}

/*wrapTopIcon icon i {
    color: #7b7a7abf;
}*/

icon:active {
    background-color: #ffffff9e;
}

icon i {
    color: #615858bf;
}

.redIcon {
    color: #c10707;
}

.directional_nav {
    height: 50vh;
    /* margin: 0 auto; */
    /* max-width: 940px; */
    position: relative;
    top: -52vh;
}

.previous_btn {
  bottom: 0;
  left: 10px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 50px;
  opacity: .5;
  transition: opacity 0.4s ease-in-out;
  width: 50px;
}

/*.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}*/

