* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*box-shadow: 0 0 1px 0 red;*/
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

html, body, main {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

main {
    display: flex;
    padding: 3%;
    background-color: #e4e8f3;
}

header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    color: #fff;
    box-shadow: inset 0px -1px 0px 0px #ffffff05;
    user-select: none;
    padding: 10px;
}

ul, .main[selected] {
    display: flex;
}

.nav_menu ul {
    justify-content: center;
    align-items: center;
}
li[marked] {
    box-shadow: inset 3px 0 0px 0px #d84a24ad;
    background-color: hsla(209, 19%, 31%, 0.65);
}

li[marked] i {
    color: #d84a24cc;
    opacity: 1;
}

div[search] i {
    right: auto;
    top: 12px;
    color: #ffffffd1;
}

section {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #2b3844;
}

section[large] {
    flex: 4;
}

section[vertical] scroller {
    flex-direction: row; 
}

section[small] {
    flex: 1;
}
.main[home] section {
    margin: 0;
    background-color: transparent;
}

p {
    position: relative;
    font-size: 12px;
}
h2 {
    color: #ffffffd9;;
}

wrap {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    height: 100%;
}

logo {
    width: 200px;
    padding: 10px;
    display: flex;
    flex-shrink: 0; 
}

wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #202c36;
}

container {
    display: flex;
    flex-direction: column;
    background-color: #2b3844;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-shadow: 0 50px 200px rgba(47, 57, 66, 0.56);
}

scroller {
    overflow: auto;
    width: 100%;
    height: 100%;
}

scroller::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

navigation {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
header navigation {
    /* justify-content: center; */
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    user-select: none;
}

navigation #nav_item li {
    height: 30px;
    font-size: 14px;
    width: 80px;
    margin: 0 10px;
    justify-content: center;
    border-radius: 30px;
}

navigation #nav_item li[selected] {
    background-color: #d84a24;
}

navigation #nav_item li:hover {
    background-color: #e67556;
}

navigation #nav_item li:active, input[type=submit]:active, .nav_menu li:active  {
    transform: translateY(1px);
}

.tab {
    flex: 5;
}

.main {
    flex: 1;
    flex-direction: column;
    overflow: auto;
    display: none;
    color: #ffffff78;;
    padding: 20px;
}
.main[home] {
    flex: 1;
    overflow: hidden;
    flex-grow: 1;
    flex-direction: row;
    padding: 0;
}

.main[home] navigation {
    background-color: transparent;
}

.nav_menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 200px;
    padding: 100px 0 0 0;
}

.boxContainer {
    display: flex;
    flex-grow: 1;
}

box {
    border-radius: 10px;
    overflow: hidden;
    background-color: #2b3844;
    cursor: pointer;
    transition: 0.125s;
}

box:hover {
    background-color: hsla(209, 19%, 31%, 0.92);
    box-shadow: 0 5px 30px rgba(6, 8, 10, 0.22);
}

box:hover wrapimage {
    transform: scale(1.05);
    filter: brightness(1.3);
}

box:active wrapimage {
    transform: scale(1);
}

item {
    display: flex;
    flex-shrink: 0;
    /* flex-grow: 1; */
    width: 25%;
    /* min-width: 200px; */
    flex-wrap: wrap;
    padding: 15px;
}

wrapImage {
    background-image: url(content/image/alex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    /* transform: scale(1.0); */
}

imageBox {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
}

textteg {
        display: flex;
    flex-direction: column;
    padding: 25px;
}

titleBox {
    display: flex;
}

titleBox p {
    font-size: 16px;
    white-space: nowrap; 
    color: #ffffffd9;
}

textBox p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
textBox {
    padding: 20px 0;
}

ratingBox, textBox {
    display: flex;
    position: relative;
}

ratingBox {
    justify-content: center;
}

ratingBox .bar {
    transform: none;
    background: #ffffff14;
}

box p 
{
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.container {
    padding: 10px;
}

.main navigation {
   padding: 10px;
   background-color: #d84a24;
   flex-shrink: 0;
}

.main navigation p {
    font-size: 20px;
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: column;
    background: #2b3844;
    color: #fff;
    /* box-shadow: inset -1px 0px 0px 0px #ffffff08; */
    user-select: none;
}

.menu li {
    padding: 15px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.85);
}

.nav_menu li:hover {
    /* box-shadow: inset 3px 0 0px 0px #ffffffa1; */
    background-color: hsla(209, 16%, 34%, 0.83);

}
.nav_menu li:hover i {
    opacity: 1;

}

.nav_menu i {
    padding: 10px;
    opacity: .5;
}

.column {
    display: flex;
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
}

.main[home] .column {
    border-radius: none;
    margin: 0 15px;
    flex-wrap: wrap;
}

div[formbox] {
    margin: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
div[large] {
    flex: 2;
    flex-direction: column;
}

div[small] {
    flex: 1;
    flex-direction: column;
    background-color: #d84a24;
}

.box { 
    display: flex;
    background: #FFF;
}

div[largebox], div[largebox] input {
    width: 100%;
}

.col {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    overflow: hidden;
}

form {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.group { 
    display: flex;
    position: relative;
    min-width: 110px;
    margin: 15px;
    align-items: center;
    height: 40px;
    flex-grow: 1;
    box-shadow: inset 0px -1px 0px 0px #e6dddd;
}

.group[search] {
    height: 45px;
    box-shadow: none;
    /* border: 1px solid #ffffff54; */
    border-radius: 10px;
}

.group[search] input {
    font-size: 14px; 
    color: #FFF;
    padding: 0 25px;
}

.group[search] input:placeholder-shown ~ label {
    transform: none; 
    color: #ffffffd1;
    padding: 0 50px;
}

.group[search] Label {
    color: #d84a24;
    font-size: 15px;
}

.group[search] input:focus .group[search] {
    border-color: #d84a24;
}

input {
    font-size: 12px; 
    padding: 0 10px; 
    display: flex;
    border: none;
    width: 100%;
    height: 100%;
    background: none;
}

input:focus { 
    outline: none;
}

input:focus ~ .bar {
    transform: none;
}

.bar {
    transition: .2s ease all; 
    transform: scaleX(0);
    transform-origin: left 0;
    height: 1px; 
    background: #34699a;
}

line  {
    height: 1px; 
    width: 100%;
    bottom: 0; 
    position: absolute;
    background: grey; 
    transition: .2s ease all; 
}

div[small] .bar {
    background: #801d03;
}

div[small] input[submit] {
    background-color: #2b3844;
}

div[small] label {
    color: #561c0d;
}
div[small] input:placeholder-shown ~ label, div[small] input::placeholder, div[small] input   {
    color: #fff;
}

input[submit] {
    height: 25px;
    width: 70px;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    justify-content: center;
    background-color: #d84a24;
    color: #fff;
}

div[push] {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
}
  
label {
    display: flex;
    color: #345471;
    font-size: 13px;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    pointer-events: none;
    height: 50%;
    padding: 0 10px;
    transform: translateY(-150%) scale(.85);
    transform-origin: left;
    transition: .2s ease all;
}

input:placeholder-shown ~ label {
    transform: none;
    color: #999;
}

input::placeholder {
    padding: 5px;
    color: #999;
}

input:not([placeholder=' ']):placeholder-shown ~ label {
    opacity: 0;
}

/* @media screen and (max-width: 1200px) {
    item {
        width: 25%;
    }
}
*/
@media screen and (max-width: 1200px) {
    item {
        width: 33.3333%;
    }
} 

@media screen and (max-width: 1000px) {
    item {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    item {
        width: 100%;
    }
    div[formbox] {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 700px) {
    .nav_menu {
        min-width: 50px;
    }

    text {
        display: none;
    }
}


