* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI";
}

html, body, main {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
}

main {
    display: flex;
    padding: 50px;
    background-color: #e4e8f3;
}

header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    color: #fff;
    box-shadow: inset 0 -7px 8px -11px white;
    user-select: none;
}

ul {
    display: flex;
}

signin, signup {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 50px 0;
}
signin {
    border-radius: 10px 0 0 10px;
    background-color: #ffffff4d;
    flex: 2;
}
signup {
    flex: 3;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}
.sec_sign {
    flex-direction: row;
}
.input {
    display: flex;
    margin: 10px;
    box-shadow: 0 6px 4px -7px #000000;
}
input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #202c36;
    font-size: 14px;
    outline: none;
    margin-bottom: -10px;
    box-shadow: none;
}
.submit {
    padding: 25px;
    box-shadow: none;
}
label {
    padding: 10px;
    padding-bottom: 0;
}

input[type=submit] {
    background-color: #202c36;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #202c3696;
}

i {
    color: #202c36;
}

::placeholder {
    color: #000;
    opacity: .3;
    font-size: 12px;
}

section {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 10px;
    border-radius: 10px;
    background-color: #2b3844;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}

section[large] {
    flex: 4;
}

section[vertical] scroller {
    flex-direction: row; 
}

section[small] {
    flex: 1;
}

p {
    font-size: 12px;
}

logo {
    padding: 10px;
    display: flex;
}

wrapper {
    height: 100%;
    display: flex;
    /*flex-direction: column;*/
    background-color: #202c36;
    border-radius: 0 0 10px 10px;
}

container {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    background-color: #2b3844;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}

scroller {
    overflow: auto;
}

navigation {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

navigation #nav_item li {
    display: flex; 
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
}

navigation li[selected] {
    background-color: #d84a24;
}
navigation li:hover {
    background-color: #e67556;
}
navigation li:active, input[type=submit]:active  {
    transform: translateY(1px);

}
.tab {
    flex: 5;
}
.main {
    flex: 1;
    flex-direction: column;
    overflow: auto;
    display: none;
    color: #fff;
    padding: 10px;
}

.main[selected] {
    display: flex;
}
/*.menu[seleced] {
    display: flex;
}
*/
.container {
    padding: 10px;
}

.main navigation {
   padding: 10px;
   background-color: #d84a24;
   border-radius: 10px 10px 0 0;
}

.main navigation p {
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #2b3844;
    border-radius: 0 0 0 10px;
    color: #fff;
    box-shadow: inset -4px 0 10px -10px white;
    user-select: none;
}
.menu p {
    padding: 15px;
    font-size: 16px;
}
.nav_menu p:hover {
   background-color: #ffffff38;
}

.nav_menu p {
    display: flex;
    font-size: 14px;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
    box-shadow: inset 0 -7px 8px -11px white;
}
.column {
    display: flex;
    flex: 1;
}
::-webkit-scrollbar {
    width: 5px;
    /*border-radius: 10px;*/
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


